@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Young+Serif&display=swap');


:root {
    --color-primary: #00A667;
    --color-primary-dark: #007347;
    --color-on-primary: #ffffff;

    --color-secondary: #F21872;
    --color-secondary-dark: #BF135B;
    --color-on-secondary: #ffffff;

    --color-tertiary: #F27D18;
    --color-tertiary-dark: #BF6313;
    --color-on-tertiary: #ffffff;

    --color-quaternary: #0eb7ff;
    --color-quaternary-dark: #0a8fd1;
    --color-on-quaternary: #ffffff;

    --color-text: #212121;
    --color-text-light: #585858;
    --color-text-dark: #000000;

    --color-background: #ffffff;
    --color-background-dark: #e0e0e0;

    --font-family-heading: 'Young Serif', serif;

    --font-weight-heading: 400;
    
    --font-heading-large: 40px;
    --font-heading-medium: 32px;
    --font-heading-small: 24px;

    --font-family-body: 'Poppins', sans-serif;

    --font-weight-body: 300;
    --font-weight-body-bold: 600;

    --font-body-large: 24px;
    --font-body-medium: 16px;
    --font-body-small: 12px;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    --default-transition: all 0.2s cubic-bezier(.34,.48,1,.42);

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 32px;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-body-medium);
  
    background: var(--color-background-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    color: var(--color-text-light);
    line-height: 1;
}

h1 {
    font-size: var(--font-heading-large);
    margin-block: var(--spacing-lg);
}

h2 {
    font-size: var(--font-heading-medium);
    margin-block: var(--spacing-lg);
}

h3 {
    font-size: var(--font-heading-small);
    margin-block: var(--spacing-md);
}

h4, h5, h6 {
    font-size: var(--font-heading-small);
    margin-block: var(--spacing-sm);
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--default-transition);

    &:hover {
        color: var(--color-primary-dark);
        text-decoration: underline;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

p {
    margin-block: var(--spacing-md);
    color: var(--color-text);
}

.background {
    &--primary {
        background: var(--color-primary);
    }

    &--secondary {
        background: var(--color-secondary);
    }

    &--tertiary {
        background: var(--color-tertiary);
    }

    &--quaternary {
        background: var(--color-quaternary);
    }

    &--primary-dark {
        background: var(--color-primary-dark);
    }

    &--secondary-dark {
        background: var(--color-secondary-dark);
    }

    &--tertiary-dark {
        background: var(--color-tertiary-dark);
    }

    &--quaternary-dark {
        background: var(--color-quaternary-dark);
    }
}

.color {
    &--primary {
        color: var(--color-primary);
    }

    &--on-primary {
        color: var(--color-on-primary);
    }

    &--secondary {
        color: var(--color-secondary);
    }

    &--on-secondary {
        color: var(--color-on-secondary);
    }

    &--tertiary {
        color: var(--color-tertiary);
    }

    &--on-tertiary {
        color: var(--color-on-tertiary);
    }

    &--quaternary {
        color: var(--color-quaternary);
    }

    &--on-quaternary {
        color: var(--color-on-quaternary);
    }

    &--primary-dark {
        color: var(--color-primary-dark);
    }

    &--secondary-dark {
        color: var(--color-secondary-dark);
    }

    &--tertiary-dark {
        color: var(--color-tertiary-dark);
    }

    &--quaternary-dark {
        color: var(--color-quaternary-dark);
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}